#button{
    margin:0px;
}
/* #h1{
    color:red;
} */
body{
    margin:0px;
}
#whole{
    margin:0px;
    display:flex;
    justify-content:center;
    flex
    /* margin:0px; */
}
#sendpart{
    display:flex;
    flex-direction:row;
    position: absolute;
    bottom:0;
    justify-content:flex-start;
    /* width:100vw; */
    /* padding-top:100vh; */
    /* justify-content:center; */
}
#input{
    display:inline-flex;
    flex:1;
    /* border:none; */
}
#button{
    display:inline-flex;
    flex:1;
}