#button{
    margin:0px;
}
/* #h1{
    color:red;
} */
body{
    margin:0px;
}
#whole{
    display:flex;
    justify-content:center;
}
#sendpart{
    display:flex;
    max-width: 100%;
    /* justify-content:center; */
}
#input{
    flex:1;
    /* border:none; */
}